In [3]:
import pandas as pd

# Load the dataset

df = pd.read_csv(r'C:\Users\admin\Desktop\Study Material\SEM V\Machine Learning\Housing .csv')

# Display the first few rows
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [6]:
from sklearn.preprocessing import OneHotEncoder

# Select the 'furnishingstatus' column
furnishingstatus = df[['furnishingstatus']]

# Initialize OneHotEncoder with the updated argument
encoder = OneHotEncoder(sparse_output=False)

# Apply the encoder to the 'furnishingstatus' column
encoded_furnishingstatus = encoder.fit_transform(furnishingstatus)

# Create a DataFrame with the encoded values and the original column names
encoded_df = pd.DataFrame(encoded_furnishingstatus, columns=encoder.get_feature_names_out(['furnishingstatus']))

# Concatenate the encoded columns back to the original dataframe
df_encoded = pd.concat([df, encoded_df], axis=1).drop(columns=['furnishingstatus'])

# Display the first few rows of the new dataframe
df_encoded.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,1.0,0.0,0.0
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,1.0,0.0,0.0
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,0.0,1.0,0.0
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,1.0,0.0,0.0
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,1.0,0.0,0.0